/* Pantallas grandes */
#span_alerta_unidades
{
	font-size: 12px;
}

.small_screen_block
{
	display: none;
}

.big_screen_block
{
	display: inline-block;
}

#span_details
{
	height: 0;
}

@media only screen and (max-width : 770px) {
	#tools-module-bar
	{
		display: none;
	}

	.big_screen_block
	{
		display: none;
	}

	#span_details button
	{
		float: right;
	}

	#span_details
	{
		height: 1em;
	}

	.all_screen
	{
		text-align: left;
	}	

	.small_screen_block
	{
		display: block;
	}

}