.mobile_inputdata
    span 
        width 20%
    input
        width 60%
    select 
        width 60%
.ms-custom-form
    padding 0 30px
    .row-fluid
        margin 1em

@media only screen and (max-width : 770px)
    body
        padding 0

    fieldset
        text-align left

    #tools-module-bar
        padding 0px 1px

    .ms-custom-form
        margin 0
        
        .row-fluid
            margin 0
        input
            width 100%
        button 
            width 100%
            display block


    .pagecontent
        padding 0
        margin 0
    
