{% extends "punto_de_venta/base.html" %}
{% block title %}Articulos{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}
<script type="text/javascript">
function cargar_articulos(articulos)
{
  $('#articulos_table').html('<caption>Articulos</caption><tr><th>Nombre</th></tr>');
  for (var i = 0; i < articulos.length; i++){
    var ruta ='/punto_de_venta/articulo/'+ articulos[i]["pk"]+'/';
    $('#articulos_table').append('<tr><td><a href="'+ruta+'">'+ articulos[i]["fields"]["nombre"]+'</a></td></tr>');
  }
}


function cargar_arbol(datos){
  $("#demo1").jstree({ 
    "json_data" : {
      "data" : datos
    },
    "plugins" : ["themes","json_data","ui","crrm","cookies","dnd","search","types","hotkeys","contextmenu"],
    // the core plugin - not many options here
    "core" : { 
      // just open those two nodes up
      // as this is an AJAX enabled tree, both will be downloaded from the server
      "initially_open" : [ "15" , "15" ] 
    },
  }).bind("select_node.jstree", function (event, data) { 
      // `data.rslt.obj` is the jquery extended node that was clicked

      Dajaxice.microsip_web.apps.ventas.get_articulosby_seccion(cargar_articulos, {'carpeta_id': data.rslt.obj.attr("id")});
    })
    // 2) if not using the UI plugin - the Anchor tags work as expected
    //    so if the anchor has a HREF attirbute - the page will be changed
    //    you can actually prevent the default, etc (normal jquery usage)
    .delegate("a", "click", function (event, data) { event.preventDefault(); })
    .bind("create.jstree", function (e, data) {
     
     Dajaxice.microsip_web.apps.ventas.crear_nodo(function (r) { 
        $(data.rslt.obj).attr("id", "node_" + r.id);
      },{'nombre':data.rslt.name,'padre':data.rslt.parent.attr("id").replace("node_","")});
  })
  .bind("remove.jstree", function (e, data) {
      Dajaxice.microsip_web.apps.ventas.remove_node(function (r) { 
        data.inst.refresh();
      },{'id':data.rslt.obj.attr("id")});
  })
  .bind("rename.jstree", function (e, data) {
    Dajaxice.microsip_web.apps.ventas.rename_node(function (r) { 
        
      },{'id':data.rslt.obj.attr("id"),'nombre':data.rslt.new_name,});
  })
  .bind("move_node.jstree", function (e, data) {
    data.rslt.o.each(function (i) {
      Dajaxice.microsip_web.apps.ventas.update_node(function (r) { 
      },{'id':$(this).attr("id"),'padre_id':data.rslt.np.attr("id"),});
    });
  });

}

$(document).ready(function() {
  Dajaxice.microsip_web.apps.ventas.get_estructura_carpetas(cargar_arbol);
});

</script>
{% endblock %}

{% block breadcrumb %}{{ block.super }} Articulos {% endblock %}
{% block content %}
<div class="ms-custom-form" style=" height: 2em; padding-top:1em; ">
    <div class='span'>
      <!-- <h3 class='span'>Articulos </h3> -->
    </div>
    <div class=" pull-right">
      <div class="btn-group">
          <a href="#" role="button" class="btn dropdown-toggle" data-toggle="dropdown"> <i class="icon-plus-sign"></i> Agregar <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1" style='text-align:left;'>
            {% if grupo_id %}
            <li><a tabindex="-1" href="/punto_de_venta/categoria/{{ grupo_id }}"><i class='icon-tag'></i> Categoria</a></li>
            {% else %}
            <li><a tabindex="-1" href="/punto_de_venta/categoria/"><i class='icon-tag'></i> Categoria</a></li>
            {% endif %}
            <!-- <li><a tabindex="-1" href="#"><i class="icon-barcode"></i> Articulo</a></li> -->
          </ul>
      </div>
    </div>
</div>
<div id="demo1" class="demo span" ></div>

<table id='articulos_table'></table>

<br>
{% include 'autocomplete_light/static.html' %}
{% endblock %}