{% extends "punto_de_venta/base.html" %}
{% block title %}Articulos{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}

{% block breadcrumb %}{{ block.super }} Articulos {% endblock %}
{% block content %}
<div class="ms-custom-form" style=" height: 2em; padding-top:1em; ">
    <div class='span'>
      <h3 class='span'>Articulos </h3>
    </div>
    <div class=" pull-right">
      <div class="btn-group">
          <a href="#" role="button" class="btn dropdown-toggle" data-toggle="dropdown"> <i class="icon-plus-sign"></i> Agregar <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1" style='text-align:left;'>
            {% if grupo_id %}
            <li><a tabindex="-1" href="/punto_de_venta/categoria/{{ grupo_id }}"><i class='icon-tag'></i> Categoria</a></li>
            {% else %}
            <li><a tabindex="-1" href="/punto_de_venta/categoria/"><i class='icon-tag'></i> Categoria</a></li>
            {% endif %}
            <li role="presentation" class="divider"></li>
            <!-- <li><a tabindex="-1" href="#"><i class="icon-barcode"></i> Articulo</a></li> -->
          </ul>
      </div>
    </div>
</div>
{% for categoria in categorias %}
<div class="btn-group">
  <a class="btn" href="/punto_de_venta/articulos/{{categoria.id}}/"><i class='icon-tag'></i> {{ categoria }}</a>
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/punto_de_venta/categoria/delete/{{ grupo_id }}/{{ categoria.id }}/"><i class="icon-trash"></i> Eliminar</a></li>
  </ul>
</div>
{% endfor %}
<table class="table tableCell table-hover">
    <tr>
      <th>Nombre</th>
      <th>Puntos</th>
      <th>Dinero Electronico</th>
      <th>Opciones</th>
    </tr>
    {% for articulo in articulos%}
    <div id="myModal{{ articulo.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Seguro que Deseas Eliminar</h3>
      </div>
      <div class="modal-body">
        <h4>Al eliminar el articulo</h4>
        <p style="color:red;">Ya no sera posible recuperar los datos del articulo</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancelar</button>
        <a href="#" class="btn btn-primary">Estoy Seguro</a>
      </div>
    </div>
    <tr>
      <td><a href="/punto_de_venta/articulo/{{ articulo.id }}/">{{ articulo.nombre }}</a></td>
      <td>{{articulo.puntos }}</td>
      <td>{{articulo.dinero_electronico }}</td>
      <td style="text-align:center;">
        <!-- <a href='#myModal{{ articulo.id}}' data-toggle="modal" class="btn btn-mini btn-danger"><i class="icon-trash"></i></a> -->
      </td>
    </tr>
    {% endfor %}

    <div class="pagination pagination-mini mainmenu">
      <ul>
        {% if articulos.has_previous %}
        <li><a href="?page={{ articulos.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="disabled"><a href="#">Anterior</a></li>
        {% endif %}
        <li class="disabled"><a href="#">Pagina {{ articulos.number }} de {{ articulos.paginator.num_pages }}.</a></li>
        {% if articulos.has_next %}
        <li><a href="?page={{ articulos.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
        {% endif %} 
      </ul>
    </div>
</table>
<br>
{% include 'autocomplete_light/static.html' %}
{% endblock %}