{% extends "base.html" %}
{% block title %}Inventarios{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}
{% block modulestyle_css %}

{% endblock %}
<!-- JavaScript Code -->
{% block js_code %}{% endblock %}
{% block btn_modulo_inventarios%}
<li style='color: #555555; background-color: #e5e5e5;'><a href="/inventarios/InventariosFisicos/"> <i class="msicon-inventarios"></i><label class='labelMenu'> Inventarios</label></a> </li>
{% endblock %}
{% block breadcrumb %}{{ block.super }} Inventarios <i class=" icon-play"></i> {% endblock %}
{% block tools-module %}
{% endblock %}

{% block content %}
{% endblock %}