{% extends "punto_de_venta/base.html" %}
{% block title %}Grupos Lineas{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}

{% block breadcrumb %}{{ block.super }} Grupos_lineas {% endblock %}
{% block content %}
<div class="ms-custom-form container-fluid" style=" height: 2em; ">
  <div class="row-fluid">
      <div class="span2"><h3>Grupos</h3></div>
    <div class='span9' style=" margin-top: 1em; ">  
    </div>
  </div>
</div>
<table class="table tableCell table-hover">
    <tr>
      <th>Nombre</th>
      <th>Opciones</th>
      <th>Puntos</th>
      <th>Dienro Electronico</th>
    </tr>
    {% for grupo_lineas in grupos_lineas%}
    <div id="myModal{{ grupo_lineas.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Seguro que Deseas Eliminar</h3>
      </div>
      <div class="modal-body">
        <h4>Al eliminar el grupo_lineas</h4>
        <p style="color:red;">Ya no sera posible recuperar los datos del grupo_lineas</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancelar</button>
        <a href="#" class="btn btn-primary">Estoy Seguro</a>
      </div>
    </div>
    <tr>
      <td><a href="/punto_de_venta/grupo_lineas/{{ grupo_lineas.id }}/">{{ grupo_lineas.nombre }}</a></td>
      <td>{{ grupo_lineas.puntos }}</td>
      <td>{{ grupo.dinero_electronico }}</td>
      <td style="text-align:center;">
        <!-- <a href='#myModal{{ grupo_lineas.id}}' data-toggle="modal" class="btn btn-mini btn-danger"><i class="icon-trash"></i></a> -->
      </td>
    </tr>
    {% endfor %}

    <div class="pagination pagination-mini mainmenu">
      <ul>
        {% if grupos_lineas.has_previous %}
        <li><a href="?page={{ grupos_lineas.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="disabled"><a href="#">Anterior</a></li>
        {% endif %}
        <li class="disabled"><a href="#">Pagina {{ grupos_lineas.number }} de {{ grupos_lineas.paginator.num_pages }}.</a></li>
        {% if grupos_lineas.has_next %}
        <li><a href="?page={{ grupos_lineas.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
        {% endif %} 
      </ul>
    </div>
</table>
<br>
{% endblock %}