{% extends "base.html" %}
{% block title %}Punto de venta{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}
{% block modulestyle_css %}{% endblock %}
<!-- JavaScript Code -->
{% block js_code %}{% endblock %}
{% block btn_modulo_punto_venta %}
  <li style='color: #555555; background-color: #e5e5e5;'><a href="/punto_de_venta/ventas/"> <i class="msicon-punto_de_venta"></i><label class='labelMenu'> Punto de venta</label></a></li>
{% endblock %}

{% block breadcrumb %}{{ block.super }} Punto de venta <i class=' icon-play'></i>{% endblock %}
{% block tools-module %}
<div class="navbar navbar-static">
  <ul class="nav" role="navigation">
  <li class="dropdown">
    <a id="drop1" href="#"role="button" class="dropdown-toggle" data-toggle="dropdown"> 
      Documentos <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a tabindex="-1" href="/punto_de_venta/ventas/">Ventas de mostrador</a></li>
      <li><a tabindex="-1" href="/punto_de_venta/devoluciones/">Devoluciones de ventas</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a id="drop1" href="#"role="button" class="dropdown-toggle" data-toggle="dropdown"> 
      Articulos <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a tabindex="-1" href="/punto_de_venta/articulos/">Articulos</a></li>
      <li><a tabindex="-1" href="/punto_de_venta/lineas_articulos/">Lineas</a></li>
      <li><a tabindex="-1" href="/punto_de_venta/grupos_lineas/">Grupos</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a id="drop1" href="#"role="button" class="dropdown-toggle" data-toggle="dropdown"> 
      Clientes <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a tabindex="-1" href="/punto_de_venta/clientes/">Clientes</a></li>
      <li><a tabindex="-1" href="/punto_de_venta/tipos_cliente/">Tipos Clientes</a></li>
    </ul>
  </li>
  </ul>
  <ul class="nav pull-right">
    <li class="dropdown">
      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-cog"></i> Herramientas <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1" style='text-align:left;'>
        <li><a tabindex="-1" href="/punto_de_venta/GenerarPolizas/">Generar Polizas Contables</a></li>
        <li role="presentation" class="divider"></li>
        <li><a tabindex="-1" href="/punto_de_venta/PreferenciasEmpresa/">Preferencias de la empresa</a></li>
        <li role="presentation" class="divider"></li>
        <li><a tabindex="-1" href="#myModal" data-toggle="modal">Inicializar puntos de clientes</a></li>
      </ul>
    </li>
  </ul>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Seguro que Deseas inicializar los puntos de los clientes</h3>
      </div>
      <div class="modal-body">
        <h4>Al Inicializar los puntos de los cliente</h4>
        <p style="color:red;">Se eliminaran puntos y dinero elecronico de "TODOS" los clientes</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancelar</button>
        <a href="/punto_de_venta/inicializar_puntos_clientes" class="btn btn-primary">Estoy Seguro</a>
      </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}