{% extends "inventarios/base.html" %}
{% block title %}Inicio{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}

{% block breadcrumb %}{{ block.super }} Inventarios Fisicos {% endblock %}
{% block content %}
<div class="form-actions mainmenu">
  <a class="btn btn-success" href="/inventarios/InventarioFisico/">Nuevo</a>
</div>
<table class="table tableCell table-hover">
    <tr>
      <th>ID</th>
      <th>FOLIO</th>
      <th>FECHA</th>
      <th>DESCRIPCION</th>
      <th>Almacen</th>
      <th>APLICADO</th>
    </tr>
    {% for inventario_fisico in inventarios_fisicos %}
    <tr>
      <td>
        <a href="/inventarios/InventarioFisico_pa/{{ inventario_fisico.id }}/">{{ inventario_fisico.id }}</a>
      </td>
      <td>{{ inventario_fisico.folio }}</td>
      <td>{{ inventario_fisico.fecha }}</td>
      <td>{{ inventario_fisico.descripcion }}</td>
      <td>{{ inventario_fisico.almacen }}</td>
      <td>{{ inventario_fisico.aplicado }}</td>
    </tr>
    {% endfor %}

    <div class="pagination pagination-mini mainmenu">
      <ul>
        {% if inventarios_fisicos.has_previous %}
        <li><a href="?page={{ inventarios_fisicos.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="disabled"><a href="#">Anterior</a></li>
        {% endif %}
        <li class="disabled"><a href="#">Pagina {{ inventarios_fisicos.number }} de {{ inventarios_fisicos.paginator.num_pages }}.</a></li>
        {% if inventarios_fisicos.has_next %}
        <li><a href="?page={{ inventarios_fisicos.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
        {% endif %} 
      </ul>
    </div>
</table>
<br>
{% endblock %}